<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/static/logo.ico">
  <script>
        var urlParams = new URLSearchParams(window.location.search);
        var alerte = urlParams.get('alerte');
        if (alerte) {
            alert(alerte);
        }
    </script>
</head>

    {% block title %}{% endblock %}
    <style>
      :root{
        --text: black;
        --card: #ffffff;
        --back: gray;
        --text2: #ffffff;
        --back404:#ffffff;
      }
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      main {
        overflow: hidden;        
      }
      footer * {
        background:black;
        color:white;
      }
      .btn-close{
        display:none;
      }
      #telephone{
        cursor:pointer !important;
      }
    </style>
</head>
<body class="d-flex flex-column">
  <!-- <div class="fixed-top d-flex justify-content-end" style="z-index: 0;">
<i class="fa fa-search text-light fs-1 p-4"></i></div> -->
    <main class="col bg-dark">        
        {% block content %}{% endblock %}
    </main>
    <footer>
            <!--<small> &copy; 2018–<script>document.write(new Date().getFullYear())</script> <a href="https://github.com/thabe03">Grey Li</a>
            </small>-->
      <nav class="navbar fixed-bottom d-flex justify-content-around">
        <a href="/"><i class="fa fa-home fs-2 p-2"></i></a> 
  <a href="/createPost"><i class="fa fa-plus fs-1 p-2"></i></a> 
  <a href="/readFavorites"><i class="fa fa-heart fs-3 p-2 text-danger"></i></a>
  <a href="/profile"><i class="fa fa-user fs-3 p-2"></i></a> 
        
</nav>
    </footer>
  <!-- <script>
    $(document).ready(function() {
      $('img').attr('loading', 'lazy');
    });  
  </script> -->
</body>
</html>
