{% extends 'base.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"
			integrity=
"sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA="
			crossorigin="anonymous">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity=
"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous">
	</script>

<style>
  @media (max-width: 767px) {
    form {
      width: 100% !important;
    }
  }
  @media (min-width: 768px) {
  form {
    margin-right:4rem;
    margin-left:4rem;
  }
  }
</style>
	

<form action="/phone" method="post" class="d-flex flex-column justify-content-center align-items-center h-100">
    <input type="text" id="telephone" class="form-control form-control-lg fs-1" name="phone_number" required>
    <a href="updatePhone" class="mt-2">Changer le numéro de téléphone</a>
    <script>
        $(document).ready(function(){
          $("#updatePassword").click(function(){
            alert("Un mot de passe temporaire vous a été envoyé par téléphone");
            window.location.href = "/updatePassword";
          });
        });
    </script>
</form>

<script>
$(document).ready(function($){
	$('#telephone').mask('1(000)-000-0000');
});
</script>

{% endblock %}