{% extends 'base.html' %}

{% block content %}

<style>
  @media (max-width: 767px) {
    form{
      padding:2rem;
    }
    #container{
      padding-top:4rem;
      padding-bottom:4rem;
    }
  }
  @media (min-width: 768px) {
    input, button {
      width:75vh !important;
    }
    #container{
      height:75vh;
      margin-top:5rem;
    }
  }
  main{
    color:var(--text2) !important;
  }
</style>
<div class="d-flex flex-column justify-content-center align-items-center w-100" id="container">
<h1 class="h1 text-center p-4">Mettre à jour le mot de passe</h1>
<form class="was-validated" action="/updatePassword" method="post">
  <div class="mt-2">
    <label for="password" class="form-label">Nouveau mot de passe</label>
    <input type="text" class="form-control is-valid" name="password" id="password" required>
    <div class="invalid-feedback">
      Entrez votre nouveau mot de passe
    </div>
  </div>
 <div class="mt-2">
    <label for="oldPsw" class="form-label">Mot de passe reçu par courriel</label>
    <input type="text" class="form-control is-valid" name="oldPsw" id="oldPsw" required>
    <div class="invalid-feedback">
      Entrez votre mot de passe reçu par courriel
    </div>
  </div>
  <div class="mt-2">
    <button class="btn btn-primary" type="submit">Mettre à jour</button>
  </div>
</form>
</div>

{% endblock %}